{%- set _module = metaclass.appsystems[0].applications[0].modules[0] -%}
{%- set ns = namespace() -%}
{%- set ns.app_code = metaclass.application_code -%}
{%- set ns.module_code = metaclass.module_code -%}
{%- set ns.module_pname = _module.module_pname -%}
{%- set ns.diagram_id = diagram_id -%}
{%- set ns_current_date = current_date.strftime('%Y-%m-%d %H:%M:%S.') + '%03d' % (current_date.microsecond // 1000) -%}
{%- set ns.key_value_tables = "'public.heartbeat', 'public.resolutions', 'public.user_actions', 'public.alfa_capture_transanctions',  'public.client_reports', 'public.sales_users', 'public.lm_clients', 'public.clients', 'public.inbound_containers'" -%}

{%- set ns.task_uuids = {} -%}
{%- for task in metaclass.tasks -%}
  {%- if task.propvalues_json.task_uuid -%}
    {%- set _ = ns.task_uuids.update({task.task_pname: task.propvalues_json.task_uuid}) -%}
  {%- endif -%}
{%- endfor -%}

{%- set ns.transition_uuids = {} -%}
{%- for trans in metaclass.task_transitions -%}
  {%- set _from_code = trans.task_from_code.split('.')[-1] -%}
  {%- set _to_code = trans.task_to_code.split('.')[-1] -%}
  {%- set _key = _from_code + '__' + _to_code -%}
  {%- set _trans_uuid = trans.propvalues_json.flowtransition_uuid if trans.propvalues_json and trans.propvalues_json.flowtransition_uuid else uuid_generate() -%}
  {%- set _ = ns.transition_uuids.update({_key: _trans_uuid}) -%}
{%- endfor -%}

{%- set ns.read_db_log_id = ns.task_uuids.get('read_db_log', ns.task_uuids.get('mmReadTransactionLog', '')) -%}
{%- set ns.split_data_id = ns.task_uuids.get('split_data', ns.task_uuids.get('mmSplitTransactionLog', '')) -%}
{%- set ns.kafka_node_id = ns.task_uuids.get('produce_data', ns.task_uuids.get('mmProduceData', '')) -%}
{%- set ns.read_db_log_version_id = ns.read_db_log_id -%}
{%- set ns.split_data_version_id = ns.split_data_id -%}
{%- set ns.kafka_node_version_id = ns.kafka_node_id -%}
{%- set ns.link_cdc_mapping = ns.transition_uuids.get('mmReadTransactionLog__mmSplitTransactionLog', uuid_generate()) -%}
{%- set ns.link_mapping_kafka = ns.transition_uuids.get('mmSplitTransactionLog__mmProduceData', uuid_generate()) -%}
{%- set ns.debezium_snapshot_row_key = '7085bf25-cc5b-4a27-94d1-42813bfb5078' -%}
{%- set ns.kafka_tx_row_key = uuid_generate() -%}
{%- set ns.provider_uuid = _module.propvalues_json.data_provider_uuid -%}
{%- set ns.source_schema_uuid = metaclass.metaobjects[0].source_schema_uuid if metaclass.metaobjects else '' -%}
{%- set ns.diagram_object_name = 'cdcf__' + ns.app_code + '2kafka_bdp__' + ns.module_code + '__journal' -%}

{
    "diagrams": {
        "{{ ns.diagram_id }}": {
            "changeDt": "{{ ns_current_date }}",
            "createDt": "{{ ns_current_date }}",
            "diagramWithParameters": {
                "blockFlag": false,
                "changeDt": "{{ ns_current_date }}",
                "createByUser": "980fff61-44ae-42ad-95bf-5339a580a9ee",
                "createDt": "{{ ns_current_date }}",
                "diagramId": "{{ ns.diagram_id }}",
                "diagramKeyFields": [],
                "diagramNameEntity": {
                    "id": "{{ ns.diagram_id }}",
                    "objectId": "{{ ns.diagram_id }}",
                    "objectName": "{{ ns.diagram_object_name }}"
                },
                "diagramType": "DEFAULT",
                "errorResponseFlag": false,
                "inOutParameters": [],
                "lastChangeByUser": "980fff61-44ae-42ad-95bf-5339a580a9ee",
                "lifeCycleState": "ACTIVE",
                "metaInfo": {
                    "nodeCounter": 2
                },
                "notificationEmails": [],
                "saveDiagramMessage": false,
                "treatTerminalStateAsInitial": false,
                "versionId": "{{ ns.diagram_id }}",
                "versionName": "latest",
                "versionType": "LATEST"
            },
            "links": [
                {
                    "linkId": "{{ ns.link_mapping_kafka }}",
                    "diagramVersion": {
                        "versionId": "{{ ns.diagram_id }}"
                    },
                    "diagramVersionId": "{{ ns.diagram_id }}",
                    "prevNode": {
                        "nodeVersionId": "{{ ns.split_data_version_id }}"
                    },
                    "prevNodeVersionId": "{{ ns.split_data_version_id }}",
                    "nextNode": {
                        "nodeVersionId": "{{ ns.kafka_node_version_id }}"
                    },
                    "nextNodeVersionId": "{{ ns.kafka_node_version_id }}"
                },
                {
                    "linkId": "{{ ns.link_cdc_mapping }}",
                    "diagramVersion": {
                        "versionId": "{{ ns.diagram_id }}"
                    },
                    "diagramVersionId": "{{ ns.diagram_id }}",
                    "prevNode": {
                        "nodeVersionId": "{{ ns.read_db_log_version_id }}"
                    },
                    "prevNodeVersionId": "{{ ns.read_db_log_version_id }}",
                    "nextNode": {
                        "nodeVersionId": "{{ ns.split_data_version_id }}"
                    },
                    "nextNodeVersionId": "{{ ns.split_data_version_id }}"
                }
            ],
            "nodes": [
                {
                    "nodeVersionId": "{{ ns.split_data_version_id }}",
                    "nodeId": "{{ ns.split_data_id }}",
                    "diagramVersion": {
                        "versionId": "{{ ns.diagram_id }}"
                    },
                    "diagramVersionId": "{{ ns.diagram_id }}",
                    "nodeTypeId": 104,
                    "nodeName": "key_value__allocation",
                    "jsonProperty": {
                        "nodeType": "104",
                        "mapping": [
                            {
                                "expression": "data",
                                "alias": "data"
                            },
                            {
                                "expression": "table_name",
                                "alias": "table_name"
                            },
                            {
                                "expression": "cast( case  when table_name in  ({{ ns.key_value_tables }})  then\\n        IF(json_value(data, '$.op') = 'd', json_value(data, '$.before.id'), json_value(data, '$.after.id'))  end as string )",
                                "alias": "key_value"
                            },
                            {
                                "expression": "replace(table_name, '.', '__')",
                                "alias": "topic_body"
                            },
                            {
                                "expression": "'journal'",
                                "alias": "postfix"
                            }
                        ],
                        "execution_options": {
                            "logging": true,
                            "start_new_chain": false
                        }
                    },
                    "jsonPropertyHashCode": 1883690727,
                    "validState": "VALID",
                    "metaInfo": {
                        "position": {
                            "x": 717.0104141235352,
                            "y": 410.01734924316406
                        }
                    },
                    "isTemplate": false,
                    "displayType": "Трансформация - Простая - Маппинг"
                },
                {
                    "nodeVersionId": "{{ ns.read_db_log_version_id }}",
                    "nodeId": "{{ ns.read_db_log_id }}",
                    "diagramVersion": {
                        "versionId": "{{ ns.diagram_id }}"
                    },
                    "diagramVersionId": "{{ ns.diagram_id }}",
                    "nodeTypeId": 135,
                    "nodeName": "cdc__{{ ns.module_pname }}",
                    "jsonProperty": {
                        "nodeType": "135",
                        "execution_options": {
                            "logging": true
                        },
                        "data_provider_uuid": "{{ ns.provider_uuid }}",
                        "capture_all_tables": false,
                        "timezone": "Europe/Moscow",
                        "include_schema": false,
                        "tables": [
                            {%- for obj in metaclass.metaobjects -%}
                            {
                                "name": "{{ obj.source_schema_pname }}.{{ obj.source_object_pname }}",
                                "row_key": "{{ obj.sd_structure_uuid }}"
                            }{%- if not loop.last %},{% endif %}
                            {%- endfor -%}
                        ],
                        "debezium": {
                            "properties": [
                                {
                                    "name": "schema.include.list",
                                    "value": "dbo",
                                    "row_key": "{{ ns.source_schema_uuid }}"
                                },
                                {
                                    "name": "snapshot.mode",
                                    "value": "no_data",
                                    "row_key": "{{ ns.debezium_snapshot_row_key }}"
                                }
                            ]
                        }
                    },
                    "jsonPropertyHashCode": 492059253,
                    "validState": "VALID",
                    "metaInfo": {
                        "position": {
                            "x": 212.01041412353516,
                            "y": 410.01734924316406
                        }
                    },
                    "isTemplate": false,
                    "displayType": "Источник - CDC - MS SQL MultiTable"
                },
                {
                    "nodeVersionId": "{{ ns.kafka_node_version_id }}",
                    "nodeId": "{{ ns.kafka_node_id }}",
                    "diagramVersion": {
                        "versionId": "{{ ns.diagram_id }}"
                    },
                    "diagramVersionId": "{{ ns.diagram_id }}",
                    "nodeTypeId": 103,
                    "nodeName": "kafka__{{ ns.module_pname }}",
                    "jsonProperty": {
                        "nodeType": "103",
                        "kafka_connection_uuid": "0ae951b0-95a4-125a-8195-b297b027017f",
                        "serde": {
                            "value": {
                                "format": "json"
                            },
                            "key": {
                                "enabled": true,
                                "format": "csv",
                                "key_by": [
                                    "key_value"
                                ]
                            }
                        },
                        "kafka": {
                            "producer": {
                                "semantic": "AT_LEAST_ONCE",
                                "topic_selection_type": "dynamic",
                                "topic_selector": {
                                    "prefix": "{{ ns.module_pname }}__",
                                    "delimiter": "__",
                                    "fields": [
                                        "topic_body",
                                        "postfix"
                                    ]
                                },
                                "properties": [
                                    {
                                        "name": "transaction.timeout.ms",
                                        "value": "900000",
                                        "row_key": "{{ ns.kafka_tx_row_key }}"
                                    }
                                ]
                            }
                        },
                        "execution_options": {}
                    },
                    "jsonPropertyHashCode": 2055780749,
                    "validState": "VALID",
                    "metaInfo": {
                        "position": {
                            "x": 1252.0104141235352,
                            "y": 410.01734924316406
                        }
                    },
                    "isTemplate": false,
                    "displayType": "Приёмник - Брокер сообщений - Kafka"
                }
            ],
            "variableLinkAssociations": [],
            "variableNodeAssociations": [],
            "changeDt": "{{ ns_current_date }}",
            "createDt": "{{ ns_current_date }}"
        }
    },
    "rootIdsAndDescriptions": {
        "{{ ns.diagram_id }}": {
            "{{ ns.diagram_id }}": "{{ ns.diagram_object_name }} (latest)"
        }
    }
}
